body {
	background: rgb(0,0,255);
}


h1 {
	color: yellow;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

p {
	color: #FFFFFF;
}

#slogan {
	font-style: italic;
}