
body {
	
	background-image: 
		url("images/image1.png");
	background-color: black;

}

.wrapper {
	width: 600px;
	margin: 0 auto;
}

.left {
	background: url('images/logo.png');
	float: left;
}

.right {
	float: right;
}

.clearfix: 

h1 {
	font-family: 'Rufina', serif;
}
#image1 {
	background-image: url("..images/logo.png");
	float: left;
}
#image1:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}