
body {
	
	background-color: #000;
	font-weight: 1.5em;

}

div {
	display: block;
}


.wrapper {
	width: 600px;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
	font-color: #fff;
}

img {
	display: inline-block;
}

h1 {
	margin: 0 0 0 0;
	padding-top:200px;
	display: block;
	font-size: 2em;
	color: #fff;
	font-weight: bold;
	font-family: 'Rufina', serif;
}

#image1 {
	background-image: url("../images/image1.png");
	float: left;
}
#image1:hover {
	opacity: 0.4;
	filter: alpha(opacity=40);
}

#image2 {
	background-image: url("../images/image2.jpg");
	float: left;
}

#image2:hover{
	opacity: 0.4;
	filter: alpha(opacity=40);
}
#image3 {
	background-image: url("../images/image3.png");
	float: left;
}

#image3:hover{
	opacity: 0.4;
	filter: alpha(opacity=40);
}

